[Desktop Entry]
Encoding=UTF-8
Name=TomiNote
Comment=A simple note collection tool.
Exec=TomiNote --config=~/.config/TomiNote --lang=/usr/share/TomiNote/languages
Icon=TomiNote
Terminal=false
Type=Application
Categories=GNOME;Application;Utility;
StartupNotify=true
